# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
.vercel/

# env / secrets
.env
.env.*
!.env.example
*.pem
*.key
*.p12
*.pfx

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# build/cache
coverage/
dist/
build/
.cache/
.turbo/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
